.fadeIn-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
}

.fadeIn-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav li a {
  display: block;
  margin: 5px;
}